</div>
<div class="footer-padding">
    <div class="footer">
      <p>Made with ❤️ by Solvents</p>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/3be6e54e38.js" crossorigin="anonymous"></script>
</body>
</html>