</div>
<div class="push"></div>
</div>
    <footer class="footer" id="footer">
      <p>Made with ❤️ by Solvents</p>
    </footer>
  </div>
  <script src="https://kit.fontawesome.com/3be6e54e38.js" crossorigin="anonymous"></script>
 
</body>
</html>