<%- include('partials/header'); -%>
<img class="image cover"src="https://free4kwallpapers.com/uploads/originals/2019/07/22/wide-minimalistic-landscape-wallpaper.jpg" alt="">
<div class="container mobile">
    <h1>About Us...</h1>
    <p><%= content1 %></p>
</div>
<%- include('partials/footer'); -%>