<%- include('partials/header'); -%>
<img class="image cover" src="https://images.wallpaperscraft.com/image/digital_art_gramophone_man_head_music_creative_103880_2560x1080.jpg" alt="">
<div class="container composePage">
    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <div class="form-group">
            <input type="hidden" name="linkID" value="<%= linkID %>">
            <label class="headL" for="exampleFormControlTextarea1"><strong>Heading</strong></label>
            <input type="text" name="head" class="form-control form-control-lg" id="head" placeholder="Put your heading here..." autocomplete="off">    
            <label class="headL" for="exampleFormControlTextarea1"><strong>Thumbnail Image Link</strong></label>
            <input type="text" name="thumb" class="form-control form-control-lg" id="head" placeholder="Put your link here..." autocomplete="off">  
            <label class="headL" for="exampleFormControlTextarea1"><strong>Other image link</strong></label>
            <input type="text" name="imgL" class="form-control form-control-lg" id="head" placeholder="Put your other images' links here..." autocomplete="off">    
            <label for="exampleFormControlTextarea1"><strong>Compose</strong></label>
            <textarea name="cmp" class="form-control form-control-sm" id="exampleFormControlTextarea1" placeholder="Compose here my freinds..." rows="7"></textarea>
        </div>
        <button type="submit" class="btn btn-primary"name="btn">Submit</button>
    </form>
</div>
<%- include('partials/footer'); -%>