<%- include('partials/header'); -%>

<img class="image cover" src="https://images.wallpaperscraft.com/image/digital_art_gramophone_man_head_music_creative_103880_2560x1080.jpg" alt="">
<div class="home"><i class="fas fa-pencil-alt"></i></div> 
<div class="container composePage">
    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <input type="hidden" value="" name="check">
        <div class="form-group">
            <div class="inputs">
                <label class="headL" for="exampleFormControlTextarea1"><strong>Type</strong></label>
                <div class="form-group">
                  <select required="required" name="type" class="form-control" id="sel1">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option>Tech</option>
                    <option>Art</option>
                    <option>Social</option>
                  </select>
                </div>
            </div>
            <div class="inputs">
                <label class="headL" for="exampleFormControlTextarea1"><strong>Heading</strong></label>
                <input type="text" required="required" name="head" class="form-control" id="head" placeholder="Put your heading here..." autocomplete="off">
            </div>
            <input type="hidden" id="timeZone" name="timeZone">
            <div class="inputs">
                <label class="headL" for="exampleFormControlTextarea1"><strong>About</strong></label>
                <input type="text" required="required"  name="abt" class="form-control" id="head" placeholder="Put a short description here..." autocomplete="off">    
            </div>
            <div class="inputs">
                <label class="headL" for="exampleFormControlTextarea1"><strong>Thumbnail Image Link</strong></label>
                <input type="text" name="thumb" class="form-control" id="head" placeholder="Put your link here..." autocomplete="off">    
            </div>
            <div class="inputs">
                <label for="exampleFormControlTextarea1"><strong>Compose</strong></label>
                <textarea name="cmp" class="form-control form-control-lg text" id="cmp" placeholder="Compose here my freinds..." rows="10"></textarea>
            </div>
            <div class="inputs">
                <label for="exampleFormControlTextarea1"><strong>Tags</strong></label>
                <input type="text" data-role="tagsinput" name="tags" id="tags">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" name="btn">Submit</button>
        <script>
            var x=Intl.DateTimeFormat().resolvedOptions().timeZone;
            document.getElementById('timeZone').value=x;
        </script>
    </form>
</div>
<%- include('partials/footer'); -%>