<%- include('partials/header'); -%>
<img class="image contact cover"src="https://i2.wp.com/thejourneyofaninspiredheart.com/wp-content/uploads/2017/12/contactme2.png?fit=1000%2C318&ssl=1" alt="">
<div class="home"><i class="fas fa-envelope"></i></div>    
<div class="container">
        <h1>Contact me!</h1>
        <p class="fullcontent"><%= content2 %></p>
    </div>
<%- include('partials/footer'); -%>