<%- include('partials/header'); -%>
    <img class="image cover" src="https://cooldigital.photography/wp-content/uploads/2019/09/Set-Goals-That-Scare-You-And-Excite-You-At-The-Same-Time-940x529.jpg" alt="">
    <div class="jumbotron">
        <h1 class="display-4">😔Booo.....!😔</h1><br>
        <p class="lead">Sorry, <%= name2 %> we could not add you to the TfT community...</p>
    </div>
<%- include('partials/footer'); -%>