<%- include('partials/header'); -%>
<img class="image cover" src="https://images.wallpaperscraft.com/image/quote_motivation_inspiration_135405_2560x1080.jpg" alt="">
    <div class="jumbotron" id="succ">
        <i class="fas fa-glass-cheers"></i>
        <h1 class="display-4">Hurray🎉</h1><br>
        <p class="lead"><%= name %>, you are now a member of the TfT community...</p>
    </div>
<%- include('partials/footer'); -%>