/* predefined attributes */
html,
body {
  height: 100%;
  font-family: 'Baloo Chettan 2', cursive;
  word-wrap: break-word;
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

h2 {
  display: block;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
  display: inline;
}

hr {
  border: 1px solid #a6b1e1 !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/*focus*/
button:focus {
  outline: none;
}

.filterDiv {
  display: none;
  /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: inline;
}

/*//////////////////////////////////////////////// header /////////////////////////////////////////////////// */
.contents {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

/* navbar */
nav {
  -webkit-box-shadow: 0 10px 40px -10px #ffbd69;
          box-shadow: 0 10px 40px -10px #ffbd69;
  border-bottom: 3px solid #ffbd69;
}

.nav {
  overflow: visible;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #dcedc1;
}

.navbar-brand {
  font-family: 'Acme', sans-serif;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.navbar-toggler {
  border-color: transparent;
}

.profilePic {
  font-size: 30px;
  margin-left: 10px;
}

.profilePicSocial {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.profileMob {
  display: none;
  text-align: center;
  margin-right: 13%;
}

.profilePC {
  display: unset;
}

/*//////////////////////////////////////////////// footer /////////////////////////////////////////////////// */
html.sr .reveal {
  visibility: hidden;
}

.bgimg {
  background-image: url("https://wallpaperaccess.com/full/1508669.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.bgimg h1 {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  top: 20vh;
  color: #ffbd69;
  text-shadow: 2px 2px #555;
  font-size: 50px;
}

.bgimg p {
  text-align: center;
  color: #fddc83;
  position: relative;
  top: 20vh;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.footer {
  height: 50px;
  text-align: center;
  background-color: #dcedc1;
  display: block;
}

.footer p {
  font-size: 12px;
  color: black;
  position: relative;
  top: 25%;
}

.push {
  height: 50px;
}

/*//////////////////////////////////////////////// home /////////////////////////////////////////////////// */
.image {
  height: 50vh;
  width: 100%;
}

.node {
  width: 100%;
}

.card-title {
  word-wrap: break-word;
}

.cronos {
  color: #888888;
}

.home {
  display: inline-block;
  background-color: lavender;
  width: 15rem;
  height: 15rem;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  top: 35%;
  right: 5%;
  -webkit-box-shadow: 5px 10px #84a9ac;
          box-shadow: 5px 10px #84a9ac;
  z-index: 1;
}

.home .fas {
  font-size: 5rem;
  position: relative;
  top: 35%;
}

.cover {
  margin-bottom: 2rem;
}

.out {
  background-color: #fff;
}

.out p {
  color: #706c61;
  font-size: 3rem;
  padding-bottom: 0.1rem;
  margin-bottom: 0;
  display: inline;
}

.slide {
  min-height: 10rem;
  text-align: center;
}

.slide p {
  font-size: 1.5rem;
}

.sorting {
  display: inline;
  float: right;
}

.mask1 {
  background-color: #d4ff8f;
}

.fullcontent {
  text-align: justify;
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin: 10px;
}

.carousel-indicators .active {
  background-color: #b3ad09;
}

.homeCon {
  text-align: justify;
}

.tab {
  padding: 0;
  margin: 1rem 0 2rem 0;
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
          box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  border-top-right-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
  min-height: 18rem;
}

.tab .col-lg-6 {
  padding: 0;
  min-height: 18rem;
}

.item {
  height: 18rem;
  border-top-left-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px);
  width: 100%;
}

.img {
  height: 18rem;
}

.card-body {
  height: 100%;
  border: none;
  border-top-right-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}

.head-link {
  color: black;
}

.head-link:hover {
  color: #1abc9c !important;
  text-decoration: none;
}

.d-t {
  display: block;
}

.card-text {
  border-bottom: 1rem solid transparent;
}

.btn-danger {
  display: block;
  position: absolute;
  bottom: 0;
}

/*//////////////////////////////////////////////// searchbar /////////////////////////////////////////////////// */
.out form {
  display: inline;
}

.out form div {
  display: inline;
}

.searchbar {
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.out button {
  background-color: #353b48;
  border: none;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.d-flex {
  float: right;
  margin-top: 0.5rem;
}

/*//////////////////////////////////////////////// about /////////////////////////////////////////////////// */
/*//////////////////////////////////////////////// contacts /////////////////////////////////////////////////// */
.contact {
  background-color: #d1cebd;
}

/*//////////////////////////////////////////////// post /////////////////////////////////////////////////// */
.liked h3,
.disliked h3 {
  display: inline;
}

.liked,
.disliked {
  display: inline;
}

.disliked {
  position: float;
  float: right;
}

.scrollable {
  max-height: 350px;
  overflow-y: scroll;
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  width: 2px;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1,
#newContent p,
.repNew {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
}

#newContent img {
  max-width: 100%;
  height: inherit;
}

#imp {
  display: none;
}

.col-2 img {
  max-height: 2.5rem;
  border-radius: 100%;
}

.interaction {
  display: inline;
}

.authorInfo {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 30px;
  display: block;
  border: 2px solid silver;
  margin: 1rem 0 2rem 0;
}

.authorInfo p {
  margin: 0;
}

.authorInfo .row a {
  text-decoration: none;
  color: #afd672;
}

.authorInfo .row a:hover {
  color: #99cb4a;
}

/* adding comment */
.adminColor {
  color: #99cb4a;
}

.form-control {
  border-radius: 10px;
}

.comName {
  background-color: #dcedc1;
}

.newComm {
  margin-bottom: 1.5rem;
}

.commentLabel {
  display: block;
}

#comment {
  display: inline;
  width: 90%;
  border-radius: 10px;
  resize: none;
  background-color: #dcedc1;
}

.inter {
  width: 100%;
}

.send {
  border: none;
  background-color: #fff;
}

.send:hover {
  color: #baf1a1;
}

.fa-paper-plane {
  font-size: 3rem;
}

/* show comments */
.com {
  margin: 2rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 30px;
  display: block;
  border: 2px solid silver;
}

.com:hover {
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
          box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
}

.com h2 {
  font-size: 1.2rem;
}

.Time {
  opacity: 50%;
  font-size: 0.8rem;
  float: right;
}

.com .row .colComm {
  width: 18rem;
}

.commNew {
  font-size: 1rem;
}

.like {
  font-size: 2.5rem;
  border: none;
  background-color: #fff;
  margin-bottom: 0.25rem;
}

.fa-thumbs-down:hover {
  color: #c70039;
}

.fa-thumbs-up:hover {
  color: #323edd;
}

/* add replies */
.replyName {
  width: 30%;
  margin-bottom: 0.3rem;
}

.replyBlock {
  display: inline;
}

#reply {
  display: inline;
  width: 90%;
  resize: none;
}

.replyBtn {
  float: right;
  font-size: 2rem;
  border: none;
  background-color: #fff;
}

.replyBtn:hover {
  color: #323edd;
}

/* show replies */
.replyShow {
  margin: 0.2rem;
  padding: 0.4rem;
  background-color: #dcedc1;
  border-radius: 10px;
  width: 45%;
  position: relative;
  left: 55%;
}

.replyShow h4 {
  font-size: 1rem;
}

.repNew {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/*//////////////////////////////////////////////// compose /////////////////////////////////////////////////// */
.composePage {
  margin-bottom: 1rem;
}

.inputs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.label {
  border: 1px solid #000;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.label:empty {
  display: none;
}

.label-info {
  background-color: #5bc0de;
}

.label-info[href]:focus,
.label-info[href]:hover {
  background-color: #31b0d5;
}

/*//////////////////////////////////////////////// newsletter /////////////////////////////////////////////////// */
.newsBody {
  height: 100%;
  padding-top: 0;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.column {
  text-align: center;
  width: 72px;
  height: 72px;
}

.buttonSubs {
  margin-top: 1rem;
}

.mid {
  border-radius: 0;
  margin-bottom: -1px;
}

.bottom {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* success page */
.fa-glass-cheers {
  font-size: 5rem;
  color: #df7861;
}

#succ {
  margin: 0;
  z-index: 1;
  text-align: center;
}

/* failure page */
/*register*/
.socio {
  height: 100vh;
  padding-top: 25vh;
  padding-right: 0;
  margin-left: 0;
  margin-right: 100px;
  margin-bottom: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  align-items: center;
}

.socio .row,
.socio input {
  width: 100%;
}

.socio label {
  text-align: left;
}

.socio h1 {
  text-align: center;
}

.socio .col-lg-6 {
  padding: 50px;
}

.socio .reg {
  padding-right: 7rem;
  padding-left: 17px;
  width: 70%;
  margin: auto;
}

.norad {
  border-radius: 0.25rem;
}

.gap {
  margin-top: 1rem;
}

.mobileErr {
  display: none;
}

.link {
  text-align: center;
}

.alert {
  display: block;
  width: 80%;
  text-align: center;
}

.social {
  width: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

.social .btn {
  font-weight: 500;
}

.social .fb {
  background-color: #005082;
  color: #fff;
}

.social .g {
  background-color: #c70039;
  color: #fff;
}

.social .tw {
  background-color: #00bcd4;
  color: #1b0761;
}

.bod {
  background-image: url("/images/close-up-dew-glass-moisture-459277.jpg");
}

.bod .col-lg-4 {
  margin-top: 21%;
}

.btn-success {
  margin-bottom: 1rem;
}

#result {
  margin-left: 0.5rem;
}

#register .short {
  font-weight: bold;
  color: #ff0000;
  width: 10%;
}

#register .weak {
  font-weight: bold;
  color: orange;
  width: 25%;
}

#register .good {
  font-weight: bold;
  color: #2d98f3;
  width: 35%;
}

#register .strong {
  font-weight: bold;
  color: limegreen;
  width: 55%;
}

/*//////////////////////////////////////////////// user ///////////////////////////////////////////////////*/
.dashboard {
  margin: 2rem 0 2rem 0;
  text-align: left;
}

.userpic {
  border-radius: 100%;
  width: 100%;
}

.userDiv hr {
  color: #d2c6b2;
}

.picture {
  padding-left: 0;
  padding-right: 3.3rem;
}

.picture i {
  font-size: 21rem;
}

.header {
  max-width: 200px;
  word-wrap: break-word;
}

.details {
  border-left: 2px solid #d2c6b2;
  padding-left: 3.3rem;
}

.details .btn-primary {
  margin-right: 5px;
}

.details .btn-warning {
  margin-left: 5px;
}

.details .listBtn {
  margin-bottom: 0;
  margin-left: 10px;
}

.details .btn-success {
  margin: 0;
  margin-left: 10px;
}

.details a {
  text-decoration: none;
  color: black;
}

.details a:hover {
  color: #fff;
}

.details .btn-danger {
  position: relative;
  float: right;
}

.details .edit {
  display: block;
  margin-bottom: 0.5rem;
}

.details .edit:hover {
  color: grey;
}

.details .row {
  height: 2rem;
}

.details .form-control:focus {
  border-color: #d2c6b2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.table .padd {
  text-align: right;
}

.table .pad {
  padding-right: 0.2rem;
}

.new {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

table .btn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

table .btn-danger {
  display: inline;
  position: static;
}

table a:hover {
  text-decoration: none;
}

table form {
  display: inline;
}

table button {
  display: inline;
}

.mobileTab {
  display: none;
}

.pcTab {
  display: static;
}

.userDiv .dashboard {
  height: 350px;
}

.creation p {
  text-align: center;
  color: #ac9672;
}

.about {
  border: 2px solid #d2c6b2;
  border-radius: 0.4rem;
  padding: 0.4rem;
  text-align: justify;
  height: 100px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.about::-webkit-scrollbar {
  display: none;
}

.about:hover:-webkit-scrollbar {
  display: unset;
}

.margin {
  margin-top: 2rem;
}

.errors::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1;
  /* Firefox */
}

.errors:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1;
  /* Firefox */
}

.errors::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1;
  /* Firefox */
}

.errors::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1;
  /* Firefox */
}

.tabed {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.followedPic {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: inline;
}

/* Style the buttons that are used to open the tab content */
.tabed button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 50%;
}

/* Change background color of buttons on hover */
.tabed button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabed button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.artEd {
  margin-top: 2rem;
}

.follow i {
  color: Yellow;
  text-shadow: 1px 1px 10px #000;
}

.unfollow i {
  color: red;
  text-shadow: 1px 1px 10px #f0f0f0;
}

/*//////////////////////////////////////////////// Admin ///////////////////////////////////////////////////*/
.tab .col-lg-3,
.tab .col-lg-9 {
  padding: 0;
}

/*//////////////////////////////////////////////// mobile ///////////////////////////////////////////////////*/
/*mobile phone*/
@media (max-width: 992px) {
  .mobpad {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .socio {
    margin: auto;
  }
  .profilePC {
    display: none;
  }
  .profileMob {
    display: unset;
  }
  .image {
    height: 200px;
  }
  .bgimg h1 {
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 30px;
    padding: 0.5rem;
  }
  .bgimg p {
    top: 60px;
    font-size: 15px;
    padding: 0.5rem;
  }
  .card-body {
    padding: 0.5rem;
  }
  .card-title {
    margin-bottom: 0.25rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .replyShow {
    left: 0;
    width: 100%;
  }
  .reply {
    float: none;
  }
  #comment {
    width: 80%;
  }
  .com {
    margin: 0;
    margin-bottom: 1rem;
    padding: 15px;
  }
  #reply {
    width: 81%;
  }
  .replyName {
    width: 50%;
  }
  .head-link {
    font-size: 1.2rem;
  }
  .img {
    height: 10rem;
  }
  .tab {
    border-radius: calc(0.25rem - 1px);
    min-height: unset;
  }
  .tab .col-sm-12,
  .tab .col-lg-6 {
    min-height: unset;
  }
  .picture {
    padding: 0;
  }
  .item {
    height: 10rem;
    width: 100%;
    border-top-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: 0;
  }
  .cronos {
    font-size: 0.7rem;
  }
  .card-body hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .home {
    display: none;
    width: 6rem;
    height: 6rem;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    -webkit-box-shadow: 2.5px 5px #84a9ac;
            box-shadow: 2.5px 5px #84a9ac;
  }
  .home .fas {
    font-size: 2rem;
    position: relative;
    top: 35%;
  }
  .mask1 .pageName {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  .mask1 .carousel-item p {
    font-size: 0.9rem;
  }
  .slide {
    min-height: 8rem;
  }
  .out p {
    font-size: 1.5rem;
    padding-bottom: 0.1rem;
    margin-bottom: 0;
  }
  .slide p {
    font-size: 1.1rem;
  }
  .social {
    width: 100%;
    margin-bottom: 2rem;
  }
  .socio {
    padding-top: 5vh;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    -webkit-clip-path: unset;
            clip-path: unset;
  }
  .bod {
    background-image: unset;
  }
  .bod .row {
    margin-left: 0;
    margin-right: 0;
  }
  .bod .col-lg-4 {
    margin-top: 5%;
  }
  .login .socio {
    height: unset;
    padding: 8vh 15px 0 15px;
  }
  .design h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  .socio .col-lg-6 {
    padding: 0.25rem;
  }
  .mobileErr {
    display: unset;
    width: 100%;
    margin-top: 5%;
  }
  .mobileErr .alert {
    width: 100%;
  }
  .pcErr {
    display: none;
  }
  .userpic {
    height: 10rem;
    width: 10rem;
  }
  .picture {
    text-align: center;
  }
  .details {
    padding-left: 15px;
  }
  .details .row {
    padding-left: 15px;
    height: unset;
  }
  .details .edit {
    margin-bottom: 1.3rem;
  }
  .details .edit,
  .details a {
    margin-left: 15px;
    margin-bottom: 1rem;
  }
  .details .listBtn {
    margin-bottom: 1rem;
    margin-left: 15px;
  }
  .details h1 {
    text-align: center;
    padding: 0;
  }
  .details .btn-success {
    margin-left: 15px;
  }
  .details .btn-warning {
    position: relative;
    float: right;
  }
  .details .btn {
    width: 130px;
  }
  .userDiv .dashboard {
    height: unset;
  }
  .mobileTab {
    display: unset;
  }
  .pcTab {
    display: none;
  }
  .header {
    max-width: 100px;
  }
  .socio .reg {
    width: 100%;
    margin: unset;
    padding-left: unset;
    padding-right: unset;
  }
  .out .container {
    padding: 0;
  }
  .searchbar .search_input {
    padding: 0 10px;
    width: 250px;
    caret-color: red;
  }
  .searchbar:hover > .search_input {
    padding: 0 10px;
    width: 250px;
    caret-color: red;
  }
  .searchbar .search_icon {
    background: white;
    color: #e74c3c;
  }
  .searchbar {
    width: 100%;
    height: 40px;
    padding: 5px;
  }
  .searchbar input {
    height: 100%;
  }
  .searchbar button {
    height: 100%;
    width: 30px;
  }
  .searchbar button i {
    font-size: 15px;
  }
  .d-flex {
    float: unset;
    margin-top: 0;
  }
  .out form {
    display: block;
  }
  .out form div {
    display: block;
  }
  .searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
  }
}

@media (max-width: 992px) and (max-width: 450px) {
  .bgimg h1 {
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 22px;
    padding: 0.5rem;
  }
  .bgimg p {
    top: 60px;
    font-size: 10px;
    padding: 0.5rem;
  }
}

@media (max-width: 992px) and (min-width: 768px) and (max-width: 992px) {
  .pcTab {
    display: unset;
  }
  .mobileTab {
    display: none;
  }
  .header {
    max-width: 30px;
  }
  .item {
    border-radius: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  .tab,
  .card-body {
    border-radius: 0;
    border-top-right-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
  }
  .userDiv {
    min-width: 700px;
    max-width: 900px;
    padding: 0 50px 0 50px;
  }
  .socio {
    max-width: 850px;
    min-width: 650px;
    margin: auto;
  }
  .design {
    margin: 50px;
  }
  .com {
    padding: 30px;
  }
  #comment {
    width: 90%;
  }
}

/*//////////////////////////////////////////////// screen specific ///////////////////////////////////////////////////*/
@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
  .socio {
    max-width: 1140px;
  }
}

/*//////////////////////////////////////////////// animations ///////////////////////////////////////////////////*/
@media (min-width: 992px) {
  .col-2 {
    max-width: 3.3rem;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  nav ul li a:hover {
    color: #555;
  }
  /* stroke */
  nav.stroke ul li a {
    position: relative;
  }
  nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #1abc9c;
    height: 2px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
}
/*# sourceMappingURL=css.css.map */