html,
body {
	height: 100%;
	font-family: 'Baloo Chettan 2', cursive;
}
* {
	margin: 0;
}
.contents {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}
.footer {
	height: 50px;
	text-align: center;
	background-color: #1abc9c;
	display: block;
}
.push {
	height: 50px;
}
.content {
	margin-top: 0.5rem;
}
.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
	background-color: #dcedc1;
}
.navbar-nav li a:hover {
	color: #1abc9c !important;
}
.headL {
	margin-top: 2rem;
}
.head-link {
	color: black;
}
.head-link:hover {
	color: #1abc9c !important;
	text-decoration: none;
}

.footer p {
	font-size: 12px;
	color: #fff;
	position: relative;
	top: 12%;
}
.content {
	min-height: 800px;
}
h2 {
	display: block;
}
.d-t {
	display: block;
}
.head {
	vertical-align: top;
}
.image {
	height: 50vh;
	width: 100%;
}
hr {
	border: 1px solid #a6b1e1 !important;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.item {
	height: 11.25rem;
	width: 19rem;
}
textarea {
	white-space: pre-wrap; /* //all whitespace preserved */
}
.send {
	border: none;
}
.send:hover {
	color: #baf1a1;
}
.fa-paper-plane {
	font-size: 3rem;
}
#comment {
	display: inline;
	width: 90%;
	border-radius: 10px;
	resize: none;
}
.newComm {
	margin-bottom: 1.5rem;
}
.form-control {
	border-radius: 10px;
}
.commentLabel {
	display: block;
}
.navbar-brand {
	font-family: 'Acme', sans-serif;
}
.com {
	margin: 2rem;
	padding: 2rem;
	background-color: #d1cebd;
	border-radius: 30px;
}
.fullcontent {
	text-align: justify;
}
.commNew {
	font-size: 2rem;
}
.like {
	font-size: 2rem;
	border: none;
	background-color: #d1cebd;
}
.like:hover {
	color: #323edd;
}
.reply {
	float: right;
	font-size: 2rem;
	border: none;
	background-color: #d1cebd;
}
.reply:hover {
	color: #323edd;
}

/*mobile phone*/
@media (max-width: 1080px) {
	.image {
		height: 20vh;
	}
	p {
		font-size: 2rem;
	}
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 3rem;
	}
	.navbar-brand {
		font-size: 2.5rem;
	}
	.nav-link {
		font-size: 1.5rem;
	}
}
