<!-- <div class="card mb-3">
            <img class="card-img-top" src="https://wallpaperaccess.com/full/266583.jpg" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title"><a class="head-link" href="/<%= array[i].heading %>"><%= array[i].heading %></a></h2>
                <div class="d-t">
                    <span><%= array[i].date %></span>
                    <span>-/-</span>
                    <span><%= array[i].time %></span>
                </div>
                <p class="card-text"><%=array[i].content.substring(0,j)%>
                <% if(j<array[i].content.length){ %>
                     ...</p>
                     <% } %>
            </div>
        </div> -->

        <!-- <div class="container head">
            <h2><a class="head-link" href="/<%= array[i].heading %>"><%= array[i].heading %></a></h2>
            <div class="d-t">
                <span><%= array[i].date %></span>
                <span>-/-</span>
                <span><%= array[i].time %></span>
            </div>
            <p><%=array[i].content.substring(0,j)%>
            <% if(j<array[i].content.length){ %>
                ...</p>
            <% } %>
        </div> -->